<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bandweaver.maxsec.mapper.MeasObjectValMapper">

    <resultMap id="BaseResultMap" type="com.bandweaver.maxsec.entity.MeasObjectVal">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="station_id" jdbcType="INTEGER" property="stationId"/>
        <result column="object_type" jdbcType="INTEGER" property="objectType"/>
        <result column="data_type" jdbcType="INTEGER" property="dataType"/>
        <result column="equipment_sn" jdbcType="VARCHAR" property="equipmentSn"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="actived" jdbcType="BOOLEAN" property="actived"/>

        <result column="last_value" jdbcType="DOUBLE" property="lastValue"/>
        <result column="last_time" jdbcType="TIMESTAMP" property="lastTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        name, station_id, object_type, data_type, equipment_sn, create_time, actived, last_value, last_time
    </sql>


    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        , measobjectval.id as id
        from measobject, measobjectval
        where measobject.id = #{id,jdbcType=INTEGER} and measobject.id = measobjectval.id
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>, measobjectval.id as id
        from measobject, measobjectval
        where measobject.id = measobjectval.id
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from  measobjectval
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.bandweaver.maxsec.entity.MeasObjectVal">
        insert into measobjectval
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="lastValue != null">
                last_value,
            </if>
            <if test="lastTime != null">
                last_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="lastValue != null">
                #{lastValue,jdbcType=DOUBLE},
            </if>
            <if test="lastTime != null">
                #{lastTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.bandweaver.maxsec.entity.Video">
        update measobjectval
        <set>
            <if test="lastValue != null">
                last_value = #{lastValue,jdbcType=DOUBLE},
            </if>
            <if test="lastTime != null">
                last_time = #{lastTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>
